In [1]:
# Import libraries
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from src.pre_post_loader import pre_post_reader,get_pos_neg_difference

# Data Processing
## 1. Read data
- Data missing (40 uids)

In [2]:
data_path = '/Users/catherine/AI/UoA/T6/RA/code/StudentLife/data/dataset/survey/panas.csv'
# Remove the row wtih NaN value
df, pre_df, post_df = pre_post_reader(data_path, mode='remove', to_int=True)

/Users/catherine/AI/UoA/T6/RA/code/StudentLife/src/pre_post_loader.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col_names[2:]] = new_df.loc[:, col_names[2:]].astype('int64')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 1 to 84
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uid           70 non-null     object
 1   type          70 non-null     object
 2   Interested    70 non-null     int64
 3   Distressed    70 non-null     int64
 4   Upset         70 non-null     int64
 5   Strong        70 non-null     int64
 6   Guilty        70 non-null     int64
 7   Scared        70 non-null     int64
 8   Hostile       70 non-null     int64
 9   Enthusiastic  70 non-null     int64
 10  Proud         70 non-null     int64
 11  Irritable     70 non-null     int64
 12  Alert         70 non-null     int64
 13  Inspired      70 non-null     int64
 14  Nervous       70 non-null     int64
 15  Determined    70 non-null     int64
 16  Attentive     70 non-null     int64
 17  Jittery       70 non-null     int64
 18  Active        70 non-null     int64
 19  Afraid        70 non-null     int64
dtypes: int64(18), object(2)
memory usage: 11.5+ KB

In [4]:
pre_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 1 to 45
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uid           35 non-null     object
 1   type          35 non-null     object
 2   Interested    35 non-null     int64
 3   Distressed    35 non-null     int64
 4   Upset         35 non-null     int64
 5   Strong        35 non-null     int64
 6   Guilty        35 non-null     int64
 7   Scared        35 non-null     int64
 8   Hostile       35 non-null     int64
 9   Enthusiastic  35 non-null     int64
 10  Proud         35 non-null     int64
 11  Irritable     35 non-null     int64
 12  Alert         35 non-null     int64
 13  Inspired      35 non-null     int64
 14  Nervous       35 non-null     int64
 15  Determined    35 non-null     int64
 16  Attentive     35 non-null     int64
 17  Jittery       35 non-null     int64
 18  Active        35 non-null     int64
 19  Afraid        35 non-null     int64
dtypes: int64(18), object(2)
memory usage: 5.7+ KB

In [5]:
post_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 47 to 84
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uid           35 non-null     object
 1   type          35 non-null     object
 2   Interested    35 non-null     int64
 3   Distressed    35 non-null     int64
 4   Upset         35 non-null     int64
 5   Strong        35 non-null     int64
 6   Guilty        35 non-null     int64
 7   Scared        35 non-null     int64
 8   Hostile       35 non-null     int64
 9   Enthusiastic  35 non-null     int64
 10  Proud         35 non-null     int64
 11  Irritable     35 non-null     int64
 12  Alert         35 non-null     int64
 13  Inspired      35 non-null     int64
 14  Nervous       35 non-null     int64
 15  Determined    35 non-null     int64
 16  Attentive     35 non-null     int64
 17  Jittery       35 non-null     int64
 18  Active        35 non-null     int64
 19  Afraid        35 non-null     int64
dtypes: int64(18), object(2)
memory usage: 5.7+ KB

In [6]:
pos = ['Interested','Strong', 'Enthusiastic', 'Proud','Alert','Inspired', 'Determined ', 'Attentive','Active ']
neg = ['Distressed','Upset','Guilty','Scared', 'Hostile ', 'Irritable','Nervous','Jittery','Afraid ']

In [7]:
diff_df = get_pos_neg_difference(pre_df, post_df, pos, neg, 'panas')
diff_df.head()

Check uid matching in the pre and post df: True

,panas_pos_pre,panas_neg_pre,panas_pos_post,panas_neg_post,panas_pos_delta,panas_neg_delta
uid,,,,,,
u01,30,19,27,17,3,2
u02,23,15,28,13,5,2
u03,30,27,25,20,5,7
u04,27,14,34,19,7,5
u05,32,27,33,17,1,10